/* blur edges of image */
.portfolio-title {
    align-content: center;
    box-shadow: 25px 25px 10px 80px rgb(49, 53, 59) inset, -50px -50px 100px 100px rgb(49, 53, 59) inset ; 
    width: 450px;
    height: 190px;
}

.wholecard {
    border-style: inset;
    border-color: rgba(230, 132, 46, 90);
    border-width: 2px;
    box-shadow: -5px 5px rgba(230, 132, 46, .75);
    
}