/* .jumbotron {
    background-image: url("../../assets/images/canadian-dollar.png");
    background-size: cover;
    } */

.mainImage {
    box-shadow: 0px 0px 6px 10px #249EB8;
}

.header {
    font-family: 'Lobster', cursive;
    font-size: 45px;
    color: white;
}

.headertxt {
    font-size: 20px;
    color: white;
}